/* line 2, loft_social.scss */
.loft-social-links {
  margin: 10px 0;
  padding: 0; }
  /* line 5, loft_social.scss */
  .loft-social-links li {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
  /* line 11, loft_social.scss */
  .loft-social-links iframe {
    max-width: none;
    width: auto; }

/* line 16, loft_social.scss */
.loft-social-links.title-prefix {
  margin-bottom: 0; }

/* line 19, loft_social.scss */
.loft-social-links.title-suffix {
  margin-top: 0; }
